<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../abas-date-picker/abas-date-picker.html">
<link rel="import" href="../abas-text-field/abas-text-field.html">
<link rel="import" href="../abas-text-field/abas-text-area.html">
<link rel="import" href="../abas-checkbox/abas-checkbox.html">
<link rel="import" href="../abas-reference-field/abas-reference-field.html">

<dom-module id="abas-inputs">
    <template>
        <style>
            :host {
                display: block;
            }

            abas-text-field, abas-date-picker, abas-reference-field {
                width: inherit;
            }
        </style>

        <dom-if if="[[checkInput(fieldType,FIELDTYPE.REFERENCE)]]">
            <template>
                <abas-reference-field label="[[label]]"
                                      selected-item="[[getReferenceValue(value)]]"
                                      suggestions="{{referenceSuggestions}}"
                                      on-reference-changed="valueReferenceChanged"
                                      company="[[company]]"
                                      vartab="[[tableSpec]]"
                                      error-message="[[errorMessage]]"
                                      invalid="[[invalid]]"
                                      disabled$="[[disabled]]"></abas-reference-field>
            </template>
        </dom-if>
        <dom-if if="[[checkInput(fieldType,FIELDTYPE.TEXTFIELD)]]">
            <template>
                <abas-text-field value="[[value]]"
                                 on-change="valueChanged"
                                 label="[[label]]"
                                 error-message="[[errorMessage]]"
                                 invalid="[[invalid]]"
                                 disabled$="[[disabled]]"></abas-text-field>
            </template>
        </dom-if>
        <dom-if if="[[checkInput(fieldType,FIELDTYPE.NUMBER)]]">
            <template>
                <abas-text-field value="[[value]]"
                                 prevent-invalid-input
                                 pattern="[0-9]*"
                                 theme="align-right"
                                 on-change="valueChanged"
                                 label="[[label]]"
                                 error-message="[[errorMessage]]"
                                 invalid="[[invalid]]"
                                 disabled$="[[disabled]]"></abas-text-field>
            </template>
        </dom-if>
        <dom-if if="[[checkInput(fieldType,FIELDTYPE.TEXTAREA)]]">
            <template>
                <abas-text-area value="[[value]]"
                                on-change="valueChanged"
                                label="[[label]]"
                                error-message="[[errorMessage]]"
                                invalid="[[invalid]]"
                                disabled$="[[disabled]]"></abas-text-area>
            </template>
        </dom-if>
        <dom-if if="[[checkInput(fieldType,FIELDTYPE.DATE)]]">
            <template>
                <abas-date-picker value="[[value]]"
                                  on-value-changed="valueDateChanged"
                                  label="[[label]]"
                                  error-message="[[errorMessage]]"
                                  invalid="[[invalid]]"
                                  disabled$="[[disabled]]"></abas-date-picker>
            </template>
        </dom-if>
        <dom-if if="[[checkInput(fieldType,FIELDTYPE.CHECKBOX)]]">
            <template>
                <abas-checkbox checked$="[[value]]"
                               on-change="checkedChanged"
                               disabled$="[[disabled]]">[[label]]
                </abas-checkbox>
            </template>
        </dom-if>
    </template>

    <script>
        /**
         * `abas-inputs`
         * Uses all the different input of abas and give you the good one base on the input type
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class AbasInputs extends Polymer.Element {
            static get is () {
                return 'abas-inputs';
            }

            static get properties () {
                return {
                    label: {
                        type: String
                    },
                    value: {
                        type: String,
                        notify: true
                    },
                    company: {
                        type: String
                    },
                    tableSpec: {
                        type: String
                    },
                    fieldType: {
                        type: String,
                        value: 'T',
                        observer: 'fieldTypeChanged'
                    },
                    referenceSuggestions: {
                        type: Array
                    },
                    disabled: {
                        type: Boolean,
                        value: false
                    },
                    FIELDTYPE: {
                        type: Object,
                        value: {
                            TEXTFIELD: 'T',
                            TEXTAREA: 'TA',
                            DATE: 'D',
                            NUMBER: 'N',
                            CHECKBOX: 'B',
                            REFERENCE: 'A'
                        },
                        readOnly: true
                    },
                    errorMessage: {
                        type: String,
                        value: ''
                    },
                    invalid: {
                        type: Boolean,
                        computed: 'isInvalid(errorMessage)'
                    }
                };
            }

            isInvalid (errorMessage) {
                return !!errorMessage;
            }

            fieldTypeChanged () {
                if (!this.fieldType) {
                    this.set('fieldType', 'T');
                }
            }

            checkInput (fieldType, expectedFieldType) {
                return fieldType === expectedFieldType;
            }

            isDate (value) {
                return Date.parse(value) || value === '';
            }

            getParsedDate (value) {
                return (Date.parse(value) || '');
            }

            valueDateChanged (e) {
                e.stopPropagation();
                let value = e.target.value;
                if (this.isDate(this.value) && this.getParsedDate(this.value) !== this.getParsedDate(value)) {
                    this.fireOnChangeEvent(e, value);
                }
            }

            checkedChanged (e) {
                e.stopPropagation();
                let value = e.target.checked;
                if (this.value !== value) {
                    this.fireOnChangeEvent(e, value);
                }
            }

            getReferenceValue (value) {
                let referenceObject;
                if (this.referenceSuggestions && this.referenceSuggestions.length !== 0) {
                    referenceObject = this.referenceSuggestions.find((item) => {
                        return item.id === value || item.idno === value;
                    });
                }
                return referenceObject ? referenceObject : value;
            }

            valueChanged (e) {
                e.stopPropagation();
                let value = e.target.value;
                if (this.value === value) return;

                this.fireOnChangeEvent(e, value);
            }

            valueReferenceChanged (e) {
                e.stopPropagation();
                let value = e.detail ? e.detail.id : '';
                if (this.value === value) return;
                this.fireOnChangeEvent(e, value);
            }

            fireOnChangeEvent (e, value) {
                this.set('value', value);
                this.dispatchEvent(new CustomEvent('change', {detail: e, bubbles: true}));
            }
        }

        window.customElements.define(AbasInputs.is, AbasInputs);
    </script>
</dom-module>
